.form-login {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed fixed;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}

.containerr {
    display: block;
    height: 500px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 300px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 .25rem rgba(255, 255, 255, 0.5), -.125rem -.125rem 1rem rgba(255, 255, 255, 0.5), .125rem .125rem 1rem rgba(184, 121, 255, 0.5);

}

#avatar {
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 16px;
}

label {
    display: block;
    margin-top: 16px;
    margin-bottom: 1px;
    font-family: Helvetica;
    color: white;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

.res-message{
    color: red;
    font-size: 0.9rem;
}

#user,
#password {
    display: block;
    margin: auto;
    width: 200px;
    border: 5px solid transparent;
    border-bottom: 1px solid white;
    color: rgb(210, 167, 167);
    background: transparent;
    font-family: Roboto;
}

#user:hover,
#password:hover {
    cursor:initial;
}

#remember {
    display: block;
    margin-top: 16px;
    font-family: Montserrat;
    color: white;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}

#login {
    align-items: center;
    background: transparent;
    border-color: transparent;
    box-sizing: border-box;
    color: #1A202C;
    display: block;
    margin: 0px auto;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#forget {
    display: block;
    font-family: lemon milk;
    color: white;
    text-decoration: none;
    padding: 16px;
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}
